@import url(_variabels.css);
@import url(_global.css);


body {
    margin: 0 auto;
}

a {text-decoration: none;
display: inline;}




/* everything with dark text and white background */
footer, .cont-1, .cont-2, .cont-3, .cont-4, .cont-5, .cont-6, .white-box, .menu-toggle a, .about-grid-item-1 { 
    background-color: var(--white);
    color: var(--dark);
}
/* everything with white text  */ 
.buy-button, .ticketgrid {
    color: var(--white);
}



/* here is all flexboxes */
header, footer, .info-div, .header-img-div, .opening, .center,
 .cont-1, .cont-2, .cont-3, .cont-4, .cont-5, .cont-6, .cont-text, 
 .exhi-events, .events-text, .contact-text, .contact-info div, .location-info, .form-group {
    display: flex;
}

/* all display blocks */
.menu-toggle input,  .menu-toggle span, .opening span, .pricediv span {
    display: block;
}



/* all items with the align-items:center value */
header, footer, .info-div, .opening, .center, .cont-text, .exhibits-info, .contact-text,
 .contact-info div, .location-info, .events-text, .form-group {
    align-items: center;

}
/* all center text */
.follow, .list, .opening, .form-container{
    text-align: center;
}

/* all justify-content: center;  */
.info-div, .opening, .exhi-events, .events-text, .contact-text, .contact-info div {
    justify-content: center;
}

/* all flex-direction: column; */
.info-div, .opening, .center, .exhi-events, .events-text, .cont-1,
 .cont-2, .cont-3, .cont-4, .cont-5, .cont-6, .events-text,
  .contact-text, .contact-info div, .location-info, .form-group  {
    flex-direction: column;

}

/* all grids  */ 
.contentgrid, .ticketgrid, .contact-info, .about-grid{
    display: grid;
}

/* position absolute */
.menu-toggle, .menu-toggle input, .menu  {
    position: absolute;
 }

/* ==================================================================== 
header and footer
 ==================================================================== */

 header {

    position: fixed;
    width: 100%;
}

footer {

    justify-content: space-around;
     height:200px;

}

/* logos */
footer img, .museum-info img, header img {
    width: 50px;

    cursor: pointer;
}
ul { list-style: none;
    padding: 10px;
}
header a{


    z-index: 2;

}




.header-img-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x:center ;
    background-position-y:center ;
    height:200px;

    align-items: flex-end;
    padding:0px 0px 20px 20px;
}
.header-img-div h1{
    font-size: 1.5em;
}

.home {
    background-image: url(/images/learn.jpg);
}
.exhibits {
    background-image: url(/images/william-bout-264826.jpg);
}
.events {
    background-image: url(/images/lab-512503_1920.jpg);
}
.information {
    background-image: url(/images/library-1132573_1920.jpg);

}


.header-img-div h1{
    padding: 5px;
    background-color:var(--bg-color);

}



/* ==================================================================== 
the navigation bar
 ==================================================================== */

/* This is a navigation bar i have found online that i wanted to use. 
i have made some minor changes to it to make it fit in to my project */

.menu-toggle {

    top: 5px;
    left: 60px;
    z-index: 1;

  }
  

  
  .menu-toggle a:hover {
    color: var(--red);
  }
  
  .menu-toggle input {

    width: 40px;
    height: 32px;

    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
 
  }
  
  .menu-toggle span {
 
    width: 40px;
    height: 7px;
    margin-bottom: 7px;
    position: relative;
    background: var(--dark);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: ease-in-out 0.5s;

      opacity: 0.55s ease;
  }
  
  .menu-toggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  .menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  .menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, 3px);
  
  }
  
  .menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  .menu {

    width: 150px;
    margin: -100px 0 0 -60px;
    padding: 50px;
    padding-top: 100px;
    background: var(--white);
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: all 0.5s ease-out;
  }
  .menu li {
    padding: 10px 0;
    font-size: 22px;
    list-style: none;
  }
  .menu-toggle input:checked ~ ul {
    transform: none;
  }
/* ==================================================================== 
 Index Page 
 ==================================================================== */



.info-div {

    width: 100%;
}

.museum-info, .opening, .exhibits-info, .exhibits-info img, .contentgrid, .ticketgrid, .about-grid{
    width: 360px;
    max-width: 80%;


 
}
.museum-info p{
padding:20px 0;
}





.center {

     padding-top:30px;
     padding-bottom: 30px;
}
.contentgrid, .ticketgrid, .about-grid {

    gap: 25px;

   }

.pricediv {
    border-bottom: 1px solid var(--white);
    /* height: 200px; */
    padding:5px;
}

.kg-price {
    border-bottom: none;
}
.cont-1, .cont-2, .cont-3, .cont-4, .cont-5, .cont-6, .contentgrid img {

    object-fit:cover ;
   }

.cont-1, .cont-2, .cont-3, .cont-4, .cont-5, .cont-6 {
    height: 400px;
}

.contentgrid img{
    width: 100%;
    height: 80%;
    /* object-fit: cover; */
}
.cont-text {
    /* display: flex; */
justify-content: space-between;
/* align-items: center; */
height: 20%;
padding-left:10px;
padding-right: 10px;}
.cont-text a, .events-text a, .about-butt, button {
    background-color: var(--red);
    color: var(--white);
    padding:10px;
    border-radius: 5px;
}

 /* ==================================================================== 
Tickets page
 ==================================================================== */
.tickets{
    background-image: url(/images/scott-webb-102825.jpg);
}
.buy-button {
    padding:20px 100px 20px 100px;
    background-color: var(--red);
    /* color: var(--white); */
    font-size: 20px;
    border-radius: 20px;
    margin: 50px;
 }


 /* ==================================================================== 
Exhibits
 ==================================================================== */

 .exhibits-info { 
    margin: 50px; }



 .exhi-events{
    padding: 20px 0px 20px 0px;
    border: solid 1px var(--white);
    border-left: none;
    border-right: none;
    gap: 15px;
    
 }

 .exhi-events img, .events-text {
    width: 300px;
 }
.events-text {




    gap: 50px;
}
/* ==================================================================== 
Information
 ==================================================================== */
.contact-info {



        grid-template-columns: 50px auto;
        padding:10px;
    }
    .contact-info div {
    grid-column: 2;
}

.contact-info div p{
    margin:0;
    padding:0;

}

.contact-info img{
    grid-column: 1;
}

.map, .location-info {
    width: 360px;

}
.map {
    padding-bottom: 100px;
}

.location-info   {

    padding-top:150px ;
}

.location-info div {
    justify-self: flex-start;
    align-self: flex-start;
}


/* ==================================================================== 
about page
 ==================================================================== */
.about-image-container img {
    width: 100%;
    object-fit: cover;

}

.about-grid-item-1 {
    grid-row:1;
}





/* ==================================================================== 
checkout page
 ==================================================================== */



.form-group {

    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* ==================================================================== 
sucess page
 ==================================================================== */
.checkmark {
    width: 150px;}

/* ==================================================================== 
meadia medium screen
 ==================================================================== */
@media (min-width: 650px) {
    .contentgrid, .ticketgrid, .about-grid {
        width: auto;
        max-width: 100%;
        grid-template-columns: repeat(2, 300px);
        /* grid-template-rows: repeat(3,1fr); */
    }
    .ticketgrid {
        gap:0px;
    }
    .header-img-div{
 
        height:350px;
        padding:0px 0px 30px 30px;
    }

    .header-img-div h1{
        font-size: 2em;
    }

.museum-info, .opening, .exhibits-info, .location-info {
        width: 625px;

        font-size: 1.3em;
        max-width: 100%;
     
    }
.center {
 
    align-items: center;
    justify-content: center;
}

    .cont-5, .cont-6 {
        grid-column: 1/3;
    }

    
.pricediv {
    border-right:1px solid var(--white) ;
}
.kg-price, .g-price{
    border-right: none;

}

.s-price, .kg-price{
    border-bottom: none;
}


.exhi-events {
 
    flex-direction: row;

 }
.ex-even {
    flex-direction: row-reverse;
}


.map, .location-info {
    width: 500px;
}

.about-grid-item-1 {
    grid-column:2;
    grid-row:1;
}
.about-image-container {
    grid-column: 1;
    grid-row:1;
}

.about-grid-item-2 {
grid-column:1/3;
grid-row:2;
}

}

/* ==================================================================== 
meadia Large screen
 ==================================================================== */

@media (min-width: 1200px) {
    header {
        justify-content: space-between;
      }

      .header-img-div h1{
        font-size: 3em;
    }
  
      .menu-toggle ul {
        transform: none;
      }
    
  .menu-toggle {
    position: relative;
    top:0;
    left:0;
  }
      
      .menu-toggle span {
        display: none;
  
      }
      
      .menu {
        position: relative; 
        width: auto; 
        margin: 0; 
        padding: 0; 
        transform: none;
      }
      
      .menu li {
        display: inline-block; 
        padding: 0 10px; 
      }

    .header-img {
        width: 100%;
    
    }
    .header-img-div {

        height: 450px; 
      }

  
 

    .info-div {

      
        flex-direction: row;
        
     
    }

    .museum-info, .opening {
        width: 475px;
        height: 400px;
       justify-content: flex-start;
     
    }


     .contentgrid { 
        width: auto; 
         grid-template-columns: repeat(3,300px);
     
     } 
    .ticketgrid {
        grid-template-columns: repeat(4,240px);

    }
    .buy-button, .tickets-text {
        align-self: flex-start;
     }

     .pricediv {
       
        border-bottom:none;
        border-right: 1px solid var(--white);
    }

    .kg-price {
        border-right:none ;
    
    }


    .cont-5 {
        grid-column: 2/4;
   
    
       
        
    }

    .cont-6{
        grid-column: 1/4;
    }
    .exhi-events img, .events-text {
        width: 500px;
    }

    .about-grid {

    }

}




    



