@import url(/css/_variabels.css);

*{
    margin: 0;
}

body {
    background-color: var(--dark);
}
header {
    background-color: var(--white);
    height: 50px;
  
      display: flex;
      align-items: center;
 
      width: 100%;
 

}

header img{
    width: 50px;
    height: auto;
    z-index: 1000;
    cursor: pointer;
}
.menu-toggle {
    /* display: block; */
    position: absolute;
    top: 10px;
    left: 60px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .menu-toggle a {
    text-decoration: none;
    color: var(--dark);
    transition: color 0.3s ease;
  }
  
  .menu-toggle a:hover {
    color: var(--red);
  }
  
  .menu-toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  
  .menu-toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--dark);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }
  
  .menu-toggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  .menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  .menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  .menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  .menu {
    position: absolute;
    width: 150px;
    margin: -100px 0 0 -60px;
    padding: 50px;
    padding-top: 100px;
    background: var(--white);
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }
  
  .menu li {
    padding: 10px 0;
    font-size: 22px;
    list-style: none;
  }
  
  .menu-toggle input:checked ~ ul {
    transform: none;
  }


  @media (min-width: 1200px) {
    header {
      justify-content: space-between;
    }

    .menu-toggle ul {
      transform: none;
    }
  
.menu-toggle {
  position: relative;
  top:0;
  left:0;
}
    
    .menu-toggle span {
      display: none; /* Display the menu icon as inline-block */

    }
    
    .menu {
      position: relative; /* Reset the position to relative */
      width: auto; /* Allow the menu to take its natural width */
      margin: 0; /* Remove margin */
      padding: 0; /* Remove padding */
      transform: none; /* Reset the transformation */
    }
    
    .menu li {
      display: inline-block; /* Display menu items inline */
      padding: 0 10px; /* Add spacing between menu items */
    }
  }